        a {
            text-decoration: none;
            color: brown;
        }

        a:hover {
            text-decoration: underline;
        }

        .ttpShow {
            display: none;
        }

        #ttpPanel {
            background-color: #fff;
            width: 200px;
            text-align: left;
            border: 3px solid #ccc;
            position: absolute;
            z-index: 99;
            padding: 20px;
            display: none;
        }